$body-color = #f3f1f2
$theme-main-red-color = #e9352c
$theme-main-yellow-color = #ff8200
$theme-main-green-color = #10b361
$theme-sub-white-color = #fefcec
$theme-sub-light-gray-color = #fff
$theme-sub-deep-gray-color = #f3f1f2
$theme-white-color = #fff
$theme-black-color = #000
$theme-disabled-color = #e4e4e4

$font-white-color = #fff
$font-deep-white-color = #797979
$font-light-white-color = #414141
$font-gray-color = #414141
$font-deep-gray-color = #797979
$font-light-gray-color = #b2b2b2

$border-light-color = #f3f1f2
$border-deep-color = #f3f1f2

$font-biggest-size = 1.7rem
$font-bigger-size = 1.6rem
$font-big-size = 1.5rem
$font-normal-size = 1.4rem
$font-small-size = 1.3rem
$font-smaller-size = 1.2rem
$font-smallest-size = 1.1rem

$default-line-height = 1.5
$default-gap = 1rem
$default-h-padding = 1.5rem
$default-light-border = 1px solid $border-light-color
$default-deep-border = 1px solid $border-deep-color

bg-darken(bgcolor)
  background-color darken(bgcolor, 10%)

color-darken(color)
  color darken(color, 10%)

bg-img(bg-size=cover, position=center)
  background-position position
  background-repeat no-repeat
  background-size bg-size

circle(width)
  width width
  height @width
  border-radius 50%

center()
  justify-content center
  align-items center

space-between(padding-h, height)
  display flex
  justify-content space-between
  align-items center
  width 100%
  height height
  padding 0 padding-h

font(font-size, font-color)
  font-size font-size
  color font-color
